extends ../../layouts/default.pug
block main
  .container.my-3
    .product-detail
      .row
        .col-12
          if (product.title)
            h1(class="inner-title") #{product.title}
        
        .col-4
          if (product.thumbnail)
            .inner-thumb
              img(src=product.thumbnail)
        
        .col-8
          if (product.price)
            div(class="inner-info") Giá: <b>#{product.price}$</b>
          if (product.discountPercentage)
            div(class="inner-info") Giảm giá: <span class="badge-discount">#{product.discountPercentage}%</span>
          if (product.stock)
            div(class="inner-info") Còn lại: <span class="stock-number">#{product.stock}</span>
          if (product.position)
            div(class="inner-info") Vị trí: <b>#{product.position}</b>
          if (product.description)
            .inner-desc
              h4 Mô tả sản phẩm
              p #{product.description}

    link(rel="stylesheet" href="/css/product-detail.css")